<ion-header>
  <ion-toolbar>
    <ion-title>Saved items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Refresh page when pulling the top -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
    pullingIcon="arrow-down-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <!-- Product-cards -->
  <ion-card *ngFor ="let i of ids;index as ind" (click)="navigate(i.id)">
    <ion-card-content>
      <ion-card-subtitle>{{i.title}}</ion-card-subtitle>
      <ion-img src={{i.photo}} style="height: 150px;"></ion-img>
      <ion-icon name="trash-outline" slot="end" (click)="delete(ind)"></ion-icon>
    </ion-card-content> 
  </ion-card>

  <ion-card *ngIf="ids.length == 0">
    <br>
      <ion-card-subtitle class="noitems">No items saved yet.</ion-card-subtitle>
    <br>
  </ion-card>

</ion-content>
