<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  
  <div class="text-center"><ion-img src="../assets/logo.jpg" style="height: 150px; padding-bottom: 20px;"></ion-img> </div>
  <div style="padding-top: 0.2em;">
    If you see anything interesting here ... <h4 style="height: 0.6em; margin-top: 0; padding-bottom: 20px;"><b>Take it</b></h4>
  </div>
  <div style="padding-top: 0.5em;">
    If you have something irrelevant ... <h4 style="height: 0.6em; margin-top: 0"><b>Leave it</b></h4>
  </div>
<ion-card>
  <!-- Insert Email -->
  <ion-item>
    <ion-label>Email </ion-label>
    <ion-input placeholder={{email}} readonly></ion-input>
  </ion-item> 

  <!-- Insert Password -->
  <ion-item>
    <ion-label >Password </ion-label>
    <ion-input [(ngModel)]="password" [type]="showPassword ? 'text' : 'password'"></ion-input>
    <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
  </ion-item>
  
</ion-card>
<ion-note ><a href="../editprofile">Forgot password</a></ion-note>

<div id="buttons">
  <ion-button (click)="signin()">Sign in</ion-button>
  <ion-button id="reg" (click)="register()" color="light">Register</ion-button>
</div>
  
</ion-content>
