ion-card {
    text-align: center;
    margin-top: 10%;
    background-color: #d3d3d3;
}

ion-content {
    text-align: center;
}

ion-item{ 
    text-align: center; 
}

#reg{
    color: blanchedalmond;
    background-color: blanchedalmond;
}

#buttons{
    margin-top: 10%;
}

ion-img{
    margin-top: 10%;
}

