<ion-tabs  >

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" >
    <ion-fab-button routerLink="/tabs/additem">
      <ion-icon name="add" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="saveditems">
      <ion-icon name="star"></ion-icon>
      <ion-label>Saved</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="additem">
      
    </ion-tab-button>

    <ion-tab-button tab="myitems">
      <ion-icon name="shirt"></ion-icon>
      <ion-label>My items</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon id="profile" name="person-circle"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>

