<ion-content>

  <ion-list>
    <ion-radio-group [(ngModel)]="category">
      <ion-list-header>
        <ion-label>Select a category:</ion-label>
      </ion-list-header>
      
      <ion-item>
        <ion-label >Electronic devices</ion-label>
        <ion-radio slot="start" value="Electronic devices"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Home appliances</ion-label>
        <ion-radio slot="start" value="Home appliances"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Furniture</ion-label>
        <ion-radio slot="start" value="Furniture"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Others</ion-label>
        <ion-radio slot="start" value="Others"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label >Show all</ion-label>
        <ion-radio slot="start" value=""></ion-radio>
      </ion-item>

    </ion-radio-group>

    <ion-item>
      <ion-checkbox [(ngModel)]="showownitems"></ion-checkbox>
      <ion-label>Show own items in Feed</ion-label>
    </ion-item>  
    
    <ion-button (click)="closePopover()" expand ="block">ok</ion-button>
  </ion-list>
</ion-content>

