h3{
    text-align: center;
}

ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    
}

ion-card-header {
    padding-top: 20px;
    
}

ion-card {
    background-color: red($color: #000000);
}
ion-card-content{
    color: black;
}