<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" defaultHref="/tabs/home">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Item details
    </ion-title>
    <ion-icon [name]="itemname" slot ="end" size = "large" (click)="favour()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>I {{item.offer}} </ion-card-subtitle>
      <ion-card-title>{{item.title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img src="{{item.photo}}" style="height: 150px;"></ion-img>
      <br>
      {{item.description}}
      <br>
      <br>
      <ion-grid>
        <ion-row>
          <ion-col size="0.5"></ion-col>
          <ion-col size="2.5">Owner:</ion-col>
          <ion-col>
            <ion-note>{{item.owner}}</ion-note>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="0.5"></ion-col>
          <ion-col size="2.5">Phone:</ion-col>
          <ion-col>
            <ion-note *ngIf ="item.hidenumber == false ">{{item.phone}}</ion-note>
            <ion-note *ngIf ="item.hidenumber == true ">-</ion-note>
            
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="0.5"></ion-col>
          <ion-col size="2.5">Email:</ion-col>
          <ion-col>
            <ion-note>{{item.email}}</ion-note>
          </ion-col>
        </ion-row>

      </ion-grid>            

    </ion-card-content>
  </ion-card>

</ion-content>