<ion-header>
  <ion-toolbar>
    <ion-title>Add Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Here take/upload photo!! -->
  <!-- [(ngModel)]="item.photo" -->
  <ion-list>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src='../assets/nophoto.png' style="height: 125px" (click)="addPhoto(1)"></ion-img>
        <input type="file" name="file1" id="file1" style="visibility: hidden; width: 102px;"/>
      </ion-col>
      <ion-col>
        <ion-img src='../assets/nophoto.png' style="height: 125px" (click)="addPhoto(2)"></ion-img>
        <input type="file" name="file2" id="file2" style="visibility: hidden; width: 102px;"/>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-img src='../assets/nophoto.png' style="height: 125px" (click)="addPhoto(3)"></ion-img>
        <input type="file" name="file3" id="file3" style="visibility: hidden; width: 102px;"/>
      </ion-col>
      <ion-col>
        <ion-img src='../assets/nophoto.png' style="height: 125px" (click)="addPhoto(4)"></ion-img>
        <input type="file" name="file4" id="file4" style="visibility: hidden; width: 102px;"/>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-list>

  <!-- Rest of data -->
  <ion-list lines="full">

    <ion-segment [(ngModel)]="item.offer" background="secondary">
      <ion-segment-button value="offer ">
        <ion-label>I offer</ion-label>
      </ion-segment-button>
      <ion-segment-button value="search for ">
        <ion-label>I search for</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-item>
      <ion-label position="floating">Title </ion-label>
      <ion-input [(ngModel)]="item.title"></ion-input>
    </ion-item> 

    <ion-item>
      <ion-label position="floating">Description </ion-label>
      <ion-textarea autogGrow="true" [(ngModel)]="item.description"></ion-textarea>
    </ion-item>
  
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="item.category">
        <ion-select-option value="Electronic devices">Electronic devices</ion-select-option>
        <ion-select-option value="Home appliances">Home appliances</ion-select-option>
        <ion-select-option value="Furniture">Furniture</ion-select-option>
        <ion-select-option value="Others">Others</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-checkbox slot= "start" [(ngModel)]="item.hidenumber" (click)="showInfo()"></ion-checkbox>
      <ion-label>Hide phone number </ion-label>
    </ion-item>
      
      
    
    
  </ion-list>
  <ion-button (click)="addItem()" expand="block">Add Item</ion-button>

</ion-content>
