<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" defaultHref="/tabs/home">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-icon name="trash-outline" slot="end" (click)="openDelete()" size="large"></ion-icon>
    <ion-title>Edit your item</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Here take/upload photo!! -->
  <!-- [(ngModel)]="item.photo" -->
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img src='../assets/nophoto.png' style="height: 125px;" (click)="addPhoto()"></ion-img>
        </ion-col>
        <ion-col>
          <ion-img src='../assets/nophoto.png' style="height: 125px;" (click)="addPhoto()"></ion-img>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-img src='../assets/nophoto.png' style="height: 125px;" (click)="addPhoto()"></ion-img>
        </ion-col>
        <ion-col>
          <ion-img src='../assets/nophoto.png' style="height: 125px;" (click)="addPhoto()"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-list>
  
    <!-- Rest of data -->
    <ion-list lines="full">
  
      <ion-segment [(ngModel)]="item.offer" background="secondary">
        <ion-segment-button value="offer ">
          <ion-label>I offer</ion-label>
        </ion-segment-button>
        <ion-segment-button value="search for ">
          <ion-label>I search for</ion-label>
        </ion-segment-button>
      </ion-segment>
  
      <ion-item>
        <ion-label position="floating">Title </ion-label>
        <ion-input [(ngModel)]="item.title"></ion-input>
      </ion-item> 
  
      <ion-item>
        <ion-label position="floating">Description </ion-label>
        <ion-textarea autogGrow="true" [(ngModel)]="item.description"></ion-textarea>
      </ion-item>
    
      <ion-item>
        <ion-label>Category</ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="item.category">
          <ion-select-option value="Electronic devices">Electronic devices</ion-select-option>
          <ion-select-option value="Home appliances">Home appliances</ion-select-option>
          <ion-select-option value="Furniture">Furniture</ion-select-option>
          <ion-select-option value="Others">Others</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-checkbox slot= "start" [(ngModel)]="item.hidenumber" (click)="openToast()"></ion-checkbox>
        <ion-label>Hide phone number </ion-label>
      </ion-item>
        
        
      
      
    </ion-list>
    <ion-button (click)="saveChanges()" expand="block">Save Changes</ion-button>

</ion-content>