
  <ion-toolbar>

    <ion-buttons slot="start" defaultHref="/tabs/profile">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title>About you</ion-title>
  </ion-toolbar>


<ion-content class="ion-padding">

  <!-- First name -->
  <ion-item >
    <ion-input [(ngModel)]="firstname" readonly (click)="pushNote()">
      <ion-label >First name: </ion-label>
    </ion-input>
  </ion-item>
  <!-- Last name -->
  <ion-item >
    <ion-input [(ngModel)]="surname" readonly (click)="pushNote()">
      <ion-label >Last name: </ion-label>
    </ion-input>
  </ion-item>
  <!-- Phone number -->
  <ion-item>
    <ion-input [(ngModel)]="phone" required type="number">
      <ion-label >Phone number: </ion-label>
    </ion-input>
  </ion-item>  
  <!-- Email -->
  <ion-item >
    <ion-input [(ngModel)]="email" required type="text" >
      <ion-label >Email: </ion-label>
    </ion-input>
  </ion-item>
  <!-- Password -->
  <ion-item>
    <ion-label position="floating">Password </ion-label>
    <ion-input [(ngModel)]="password" [type]="showPassword ? 'text' : 'password'" placeholder="At least 8 characters"></ion-input>
    <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
  </ion-item> 

  <!-- Save-button -->
  <ion-button vertical="bottom" horizontal="end" (click)="save()" routerLink="../profile" routerDirection="root"> Save</ion-button>  

</ion-content>
