ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
}

ion-content {
  align-content: center;
  text-align: center;
}

ion-button {
  margin-top: 5%;
}

