<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start" defaultHref="/tabs/home">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title>About you </ion-title>
    <ion-icon name="pencil-outline" slot="end" routerLink="/tabs/editprofile" routerDirection="root" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <!-- Names, Email, Phone no. -->
  <ion-item >
    <ion-input [(ngModel)]="firstname" disabled>
      <ion-label >First name: </ion-label>
    </ion-input>
  </ion-item>
  <ion-item >
    <ion-input [(ngModel)]="surname"  disabled>
      <ion-label >Last name: </ion-label>
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="phone" disabled>
      <ion-label >Phone number: </ion-label>
    </ion-input>
  </ion-item> 
  <ion-item >
    <ion-input [(ngModel)]="email"  disabled>
      <ion-label >Email: </ion-label>
    </ion-input>
  </ion-item>
  <ion-item >
    <ion-input [(ngModel)]="password"  disabled type="password">
      <ion-label >Password: </ion-label>
    </ion-input>
  </ion-item>
  <br>
  <br>
  <ion-button (click)="logout()">Log out</ion-button>
  
   

</ion-content>
