<ion-header>
  <ion-toolbar>    
    <ion-title>My Items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Product-cards -->
  <ion-card *ngFor ="let i of (items | async)" >
    <ion-card-header *ngIf ="i.owner == owner">
      <ion-card-subtitle>I {{i.offer}}</ion-card-subtitle>
      <ion-card-title>{{i.title}}</ion-card-title>
    </ion-card-header>
    
    <ion-card-content *ngIf ="i.owner == owner">
      <ion-img src={{i.photo}} style="height: 150px;"></ion-img>
      <ion-icon slot="end" name="pencil-outline" size="large" [routerLink]="['/edititem', i.id]"></ion-icon>
    </ion-card-content>  
  </ion-card>

</ion-content>
