<ion-header >
  <ion-toolbar>
    <ion-icon id="menu" name="menu-outline" slot="end" (click) ="createPopover()" size="large"></ion-icon>
    <!-- Searchbar -->
    <ion-searchbar [(ngModel)]="search" placeholder="Search for Title"></ion-searchbar>     
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <!-- <ion-note>Welcome {{firstname}}, nice to see you! :)</ion-note>   -->

  <!-- Refresh page when pulling the top -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  
  <!-- Product-cards -->
  <ion-card *ngFor ="let i of (items | async)" [routerLink]="['/itemdetail', i.id]">
    <ion-card-header *ngIf ="((showownitems == false && i.owner != owner) || showownitems == true)&&(i.category == category || category == '') && (i.title.toLowerCase().includes(search.toLowerCase()) || search==='')">
      <ion-card-subtitle>I {{i.offer}}</ion-card-subtitle>
      <ion-card-title>{{i.title}}</ion-card-title>
    </ion-card-header>
    
    <ion-card-content *ngIf ="((showownitems == false && i.owner != owner) || showownitems == true)&&(i.category == category || category == '') && (i.title.toLowerCase().includes(search.toLowerCase()) || search==='')">
      <ion-img src="{{i.photo}}" style="height: 150px;"></ion-img>
    </ion-card-content>  
  </ion-card>

</ion-content>
