ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
  }

ion-button{
  margin-left: 35%;
  margin-right: auto;
}

ion-note{
  font-size: 11px;
  margin-left: 6%;
  
}