<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons> 
    <ion-title >Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list lines="full">


    <!-- select Sex -->
  <!-- <ion-segment [(ngModel)]="sex" >

    <ion-segment-button  value="male">
      <ion-label > Male</ion-label>
    </ion-segment-button>

    <ion-segment-button value="female">
      <ion-label >Female</ion-label>
    </ion-segment-button>

    <ion-segment-button value="divers">
      <ion-label >Other</ion-label>
    </ion-segment-button>

  </ion-segment>  -->

    <!-- Name, ... -->
    <ion-item>
      <ion-label position="floating">First name </ion-label>
      <ion-input [(ngModel)]="firstname"></ion-input>
    </ion-item> 

    <ion-item>
      <ion-label position="floating">Last name </ion-label>
      <ion-input [(ngModel)]="surname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Phone number </ion-label>
      <ion-input [(ngModel)]="phone" type="number" placeholder="e.g. 00358167..."></ion-input>
    </ion-item> 

    <ion-item>
      <ion-label position="floating">Email </ion-label>
      <ion-input [(ngModel)]="email"></ion-input>
    </ion-item> 

    <ion-item>
      <ion-label position="floating">Password </ion-label>
      <ion-input [(ngModel)]="password" [type]="showPassword ? 'text' : 'password'" placeholder="At least 8 characters"></ion-input>
      <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
    </ion-item> 
    <ion-item>
      <ion-label position="floating">Repeat password </ion-label>
      <ion-input [(ngModel)]="password2" [type]="showPassword ? 'text' : 'password'"></ion-input>
    </ion-item> 

    <br>
    <br>
    <div text-center>
      <ion-button (click)="register()">Register</ion-button>
    </div>

   <br>
   <br>
   <br>
    <ion-note>Note: With registration you automatically accept our <a href="https://gdpr.eu/what-is-gdpr/">GDPR</a> .</ion-note>
      
    
  </ion-list>

</ion-content>
